@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss";

@theme {
    --color-outline: #969494;
    --color-main: #2563EB;
    --color-gray: #F3F3F3;
    --color-main-gray: #6D6B6B;
    --color-light-gray: #D6D6D6;
}

@theme {
    --font-poppins: 'Poppins';
    --font-montserrat: 'Montserrat';
}